.col-sm-6 {
  margin-bottom: 10px
}

.single-food {
	background-color: white;
}

.single-food:hover {
	background-color: gray;
	color: white;
}

.single-food:hover .food-img {
	opacity: 0.3;
}

.single-food:hover .food-content {
	opacity: 0.3;
}

.single-food:hover .middle {
	opacity: 1;
}

.food-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.food-img img.food-image {
  height: 300px;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.single-food:hover img.food-image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.style-change {
	text-align: top;
	float: right;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: red;
}
.inputType {
  width: 50px;
  height: 40px;
  border: 0;
}

/* Tick Image */
.tick-image{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: 7px;
  visibility: hidden;
}


.custom_plus {
  margin-left: -4px;
  border: 0;
  -webkit-appearance: none;
}
.custom_minus {
  margin-right: -4px;
  border: 0;
  -webkit-appearance: none;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.buttons-div button{
  width: 100%;
}



@media all and (max-width: 480px) { 
  .buttons-div button{
    margin-bottom: 10px;
  }

  .search-text-field{
    margin-bottom: 10px;
  }

  .search-button{
    width: 100%;
  }

  .foodmenu-img{
    width: 320px;
  }

}



.notifications-dropdown {
  display:inline-block;
  margin-top: 14px;
}


.notifications-dropdown .glyphicon-bell {
 
  font-size:1.8rem;
}

.notifications-dropdown .notifications {
 min-width:420px; 
}

.notifications-dropdown .notifications-wrapper {
   overflow:auto;
    max-height:250px;
  }
  
.notifications-dropdown .menu-title {
   color:#ff7788;
   font-size:1.5rem;
    display:inline-block;
    }

    .notifications-dropdown .glyphicon-circle-arrow-right {
    margin-left:10px;     
 }

 
.notifications-dropdown .notification-heading, .notification-footer  {
 padding:2px 10px;
     }
    
      
     .notifications-dropdown .dropdown-menu.divider {
margin:5px 0;          
}

.notifications-dropdown .item-title {

font-size:1.3rem;
color:#000;
  
}

.notifications-dropdown .notifications a.content {
text-decoration:none;
background:#ccc;

}
  
.notifications-dropdown .notification-item {
padding:10px;
margin:5px;
background:#ccc;
border-radius:4px;
}



